.App {
  text-align: center;
}

.quiz-container {
  text-align: left;
  max-width: 500px;
  box-shadow: 0px 5px 24px #867a7a;
  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
}

.quiz-form .submit {
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #1c1c4c;
  color: white;
  padding: 5px;
  margin-top: 20px;
}

.quiz-container .radio {
  display: block;
  margin: 9px 0;
}

.quiz-container.result-container {
  text-align: center;
}
